
input{
    margin-bottom: 2px;
    margin-top: 2px;
    outline-color: aquamarine;
    outline-width: 2px;
}

button{
    outline-color: mediumturquoise;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}